<div class="flex flex-col gap-1" [class.w-full]="fullWidth">

  <label *ngIf="label" [for]="inputId" class="text-sm font-medium">
    {{ label }}<span *ngIf="required" class="text-red-500"> *</span>
  </label>

  <!-- TEXT | EMAIL -->
  <input
    *ngIf="type === 'text' || type === 'email'"
    #inputRef
    pInputText
    [id]="inputId"
    [type]="type"
    [placeholder]="placeholder"
    [required]="required"
    [(ngModel)]="value"
    (ngModelChange)="onValueChange($event)"
    (blur)="onTouched()"
  />

  <!-- PASSWORD -->
  <p-password
    *ngIf="type === 'password'"
    [inputId]="inputId"
    [placeholder]="placeholder"
    [required]="required"
    [toggleMask]="true"
    [feedback]="false"
    [inputStyleClass]="fullWidth ? 'w-full' : ''"
    [styleClass]="fullWidth ? 'w-full' : ''"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    (onBlur)="onTouched()"
  ></p-password>

  <!-- NUMBER -->
  <p-inputnumber
    *ngIf="type === 'number'"
    [inputId]="inputId"
    [placeholder]="placeholder"
    [required]="required"
    [(ngModel)]="value "
    (ngModelChange)="onChange($event)"
    (onBlur)="onTouched()"
  ></p-inputnumber>

  <p-inputnumber
    *ngIf="type === 'decimal'"
    mode="decimal"
    [inputId]="inputId"
    [placeholder]="placeholder"
    [required]="required"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    (onBlur)="onTouched()"
  ></p-inputnumber>

  <!-- TEXTAREA -->
  <textarea
    *ngIf="type === 'textarea'"
    #inputRef
    pInputTextarea
    [id]="inputId"
    [placeholder]="placeholder"
    [required]="required"
    [rows]="rows"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    (blur)="onTouched()"
  ></textarea>

  <div *ngIf="maxLength && touched" class="flex flex-col mt-2 gap-1">
    <p-progressbar
      [value]="charPercent"
      [showValue]="false"
      [style]="{ height: '4px' }"
      [styleClass]="progressBarClass"
    />
    <div class="flex justify-between text-xs"
         [class.text-yellow-500]="charCountColor === 'warning'"
         [class.text-red-500]="charCountColor === 'danger'"
         [class.text-gray-400]="charCountColor === 'normal'">
      <small *ngIf="invalid || isOverLimit" class="error-msg">

        {{ isOverLimit ? 'Max ' + maxLength + ' characters allowed' : errorMessage }}
      </small>
      <span class="ml-auto">{{ value?.length ?? 0 }} / {{ maxLength }}</span>
    </div>
  </div>

  <small *ngIf="(invalid || isOverLimit) && !maxLength" class="text-red-500 text-xs">
    {{ errorMessage }}
  </small>

</div>
